{% extends 'base.html' %}
{% load static %}
{% get_static_prefix as STATIC_URL %}

{% block title %}
    {{title }}
{% endblock title %}
{% block content %}
<div class="row justify-content-center">
    <table class="table table-md">
      <thead>
        <tr>
          <th scope="col">IN CHECKAD</th>
          <th scope="col">BIL</th>
          <th scope="col">ARBETE</th>
          <th scope="col">SLUTTID</th>
          <th scope="col">STATUS</th>
          <th scope="col">NÄSTA STEG</th>
        </tr>
      </thead>
      <tbody>
        {% for value in work %}
          <tr>
            <td>{{ value.timestamp|date:"Y-m-d H:i" }}</td>
            <td class="fw-bolder">{{ value.registration_number }}</td>
            <td>{{ value.work_type}}</td>
            <td>{{ value.finish_time|date:"Y-m-d H:i" }}</td>
            {% if value.completed == True %}
              <td>
                {{ value.status }} 
              </td>
              <td>
                <a href="{% url 'delete' value.id %}"><button type="button" class="btn btn-danger">HÄMTAD</button></a>
              </td>
            {% elif value.started == True %}  
              <td>
                {{ value.status }} 
              </td>
              <td>
                <a href="{% url 'complete' value.id %}"><button type="button" class="btn btn-success">KLAR</button></a>
              </td>
            {% else %}
              <td>
                <a href="{% url 'started' value.id %}"><button type="button" class="btn btn-primary">BÖRJA</button></a></td>
              </td>
              <td></td>
            {% endif %}
          </tr> 
        {% empty %} 
            </tbody>
          </table>      
          <div class="fw-bolder">Inge Jobb kvar att göra</div>  
        {% endfor %}  
      </tbody>
    </table> 
</div>

{% include 'work_modal.html' %}

{% endblock %}
