{% extends 'base.html'%}
{% load static%}
{% get_static_prefix as STATIC_URL%}

{% block title%}
    {{title }}
{% endblock title%}
{% block meta%}
<meta http-equiv="refresh" content="60" />
{% endblock meta%}

{% block content%}
<div class="row justify-content-center">
  <table class="sortable table table-striped rable-bordered table-md" id="workTable" cellspacing="0" width="100%">
      <thead>
        <tr>
          <th data-field="car">BIL</th>
          <th data-field="work">ARBETE</th>
          <th data-field="end-time" id="finish-time">SLUTTID</th>
        </tr>
      </thead>
      <tbody>
       {% for value in work%}
        {% if value.completed %}
        <tr class="bg-success">
          <td class="fw-bolder">{{ value.registration_number }}</td>
          <td>{{ value.work_type}}</td>
          <td>DONE</td>
        </tr>
        {% else %}
        {% if value.emergency %}
        <tr class="bg-danger">
          {% else %}
            <tr>
          {% endif %}
              <td class="fw-bolder">{{ value.registration_number }}</td>
              <td>{{ value.work_type}}</td>
              <td>{{ value.finish_time|date:"Y-m-d H:i" }}</td>
        </tr> 
        {% endif %}
        
       {% empty %} 
            </tbody>
          </table>      
          <div class="fw-bolder">Inge Jobb kvar att göra</div>  
       {% endfor %}  
      </tbody>
    </table> 
</div>

{% include 'work_modal.html' %}

{% endblock%}
